 <div class='container' style="margin:100px">
    <% @emailtemplates.each do |emailtemplate| %> 
      <div class="row">
<h2> Email Template ( <%= @emailtemplate.key %> ) </h2>

  
  <div class="form-group">
    <label for="exampleInputEmail1">
        Subject:
    </label>
    
    <%= @emailtemplate.subject %>
  
  </div>
  
    <div class="form-group">
    <label for="exampleInputEmail1">
       Body:
    </label>
    
    <%= @emailtemplate.body %>
  
  </div>
  
  <%end%>
