<div class='container' style="margin:100px">
      <div class="row">
<h2> Physician Record</h2>

Physician name: <%= @physician.physician_name %>
<br/>

Telephone number: <%= @physician.telephone_number %> <br/>